* {
	font-family: 'Satisfy', cursive;
}

body {
	background-image: url(./image/flower.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100vh;
}

h1 {
	color: white;
}

div, iframe {
	display: block;
    margin: 0 auto;
    background-color: #777;
}